# Python
__pycache__/
*.pyc
.venv/
venv/

# Dataset
Dataset/
Dataset_split/

# YOLO training outputs
runs/

# Model weights
*.pt
*.pth
*.onnx
*.engine

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/